<!-- nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Health & Wealth Workshops</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav ms-auto navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link" href="#quiz">Life Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#questions">Questions</a>
                </li>
            </ul>
        </div>


    </div>
</nav>

<!-- Introduciton -->
<section class="p-5 bg-success text-center">
    <div class="container">
        <!-- <h1 class="text-white custom-header">Health & Wealth Workshops</h1> -->
        <div class="d-flex gap-2 text-white justify-content-center titles">
            <div class="h1 title">Health</div>
            <div class="h1 title">&</div>
            <div class="h1 title">Wealth</div>    
            <div class="h1 title">Workshops</div>    
        </div>
        <p #introText class="lead ext-danger-emphasis text-white mb-3 intro-text">We're dedicated to equipping you with the knowledge and tools to thrive in both your financial and physical well-being. Join us for an enlightening exploration of essential topics that encompass wealth building, financial literacy, and optimal health.</p>
    </div>
</section>

<!-- Health -->
<section class="p-5 bg-dark text-light">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="col-md">
                <img src="assets/health.svg" class="img-fluid" alt="">
            </div>

            <div class="col-md">
                <h1 class="health-wealth">Health</h1>
                <p class="lead">Understanding Transfer Factors and the Human Immune System</p>
                <p>In the realm of health, our esteemed speaker(s) will guide you through a fascinating journey into the intricacies of the human immune system and the revolutionary concept of Transfer Factors. Discover how Transfer Factors play a pivotal role in enhancing immune response and safeguarding against a multitude of health challenges.</p>

                <p class="d-none">Transfer factors are tiny messenger molecules that transmit immunity information from one entity to
                    another, such as between a mother and her infant who she breastfeeds. Transfer factors are a unique
                    and highly conserved form of immune intelligence that help us stay well.</p>
                <!-- <a href="#" class="btn btn-primary">Learn More</a> -->

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#learnHealthModal" (click)="setEventType('Health')">
                    Learn More
                </button>
            </div>
        </div>
    </div>

</section>

<!-- Wealth -->
<section class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <h1 class="health-wealth">Wealth</h1>
                <p class="lead">Building Financial Literacy and Prosperity</p>
                <p>In the realm of wealth, our expert speaker(s) will unveil valuable insights into the importance of financial literacy and its role in building and preserving wealth. Financial literacy is the cornerstone of financial well-being, empowering individuals to make informed decisions about money management, investments, and financial planning.</p>
                <p>Join us as we explore the fundamentals of financial literacy and discover practical strategies for achieving financial security and prosperity. Whether you're just starting your financial journey or seeking to enhance your existing knowledge, our speakers will provide you with the tools and knowledge you need to navigate the complexities of personal finance with confidence.</p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#learnWealthModal" (click)="setEventType('Wealth')">
                    Learn More
                </button>
            </div>
            <div class="col-md">
                <img src="assets/money2.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>


<!-- summary -->
<section class="bg-success text-light p-5 text-center">
    <div class="container">
        <p class="lead ext-danger-emphasis">Join us as we delve into the critical intersections of health, wealth, and financial literacy, empowering you to make informed decisions and take proactive steps towards a life of abundance and vitality.</p>
    </div>
</section>

<!-- Events -->
<section class="p-5 bg-light text-dark">
    <div class="container">
        <h2 class="text-center">Upcoming Events</h2>
        <p class="lead text-center">Secure your spot for the Health & Wealth Workshop today!</p>

        <app-events></app-events>
    </div>
</section>

<!-- Life Quiz -->
<section id="quiz" class="bg-dark text-light p-5">
    <div class="container">
        <h1 class="text-center">Life Quiz</h1>

        <p class="lead text-centerx">Embark on a journey of self-discovery and reflection with our Life Quiz, designed to help you gain insights into your health, wealth, and overall well-being.</p>

        <p class="text-center d-none">Answer thought-provoking questions that will prompt you to explore your aspirations, values, and priorities, guiding you towards a path of personal growth and fulfillment.</p>

        <p class="">This quiz is designed to spark reflection and introspection on two vital aspects of life: health and wealth. Through a series of thought-provoking questions, you'll explore your beliefs, priorities, and aspirations regarding your physical well-being and financial security. By participating in this quiz, you'll gain insights into your current mindset, habits, and goals, paving the way for personal growth and informed decision-making on your journey to holistic success. Dive into the quiz and discover new perspectives on health, wealth, and the intersection between the two!</p>

        <p class="mb-5 lead">Click on each question to answer</p>

        <app-life-quiz></app-life-quiz>
    </div>
</section>

<!-- Instructors -->
<section id="instructors" class="p-5 bg-info">
    <div class="container">
        <h2 class="text-center text-white">Our Instructors</h2>
        <p class="lead text-center text-white mb-5">
            Meet the experts who will guide you through an enlightening journey of health and wealth.
        </p>
        <app-instructors></app-instructors>
    </div>
</section>

<!-- Benefits of coming -->
<section class="p-5">
    <div class="container">
        <h2>Benefits of Attending</h2>

        <ul>
            <li>
                <strong>Comprehensive Understanding:</strong> Gain a holistic understanding of both health and wealth,
                including key concepts such as Transfer Factors and financial literacy, essential for achieving overall
                well-being.
            </li>

            <li>
                <strong>Empowering Knowledge:</strong> Acquire invaluable insights from industry experts on enhancing
                your immune system's resilience and mastering financial literacy skills crucial for wealth accumulation
                and preservation.
            </li>

            <li>
                <strong>Practical Strategies:</strong> Learn actionable strategies and techniques to apply financial
                literacy principles effectively, enabling you to make informed decisions about your financial future and
                well-being.
            </li>

            <li>
                <strong>Personalized Guidance:</strong> Receive personalized guidance tailored to your individual needs
                and circumstances, empowering you to develop customized plans for improving both your health and
                financial situation.
            </li>

            <li>
                <strong>Networking Opportunities:</strong> Connect with like-minded individuals and industry
                professionals to expand your network and gain access to additional resources and support systems for
                continued growth and success.
            </li>

            <li>
                <strong>Exclusive Resources:</strong> Access exclusive resources, tools, and bonuses designed to further
                enhance your learning experience and support your journey towards achieving your health and wealth
                goals.
            </li>

            <li>
                <strong>Transformative Experience:</strong> Embark on a transformative journey that will inspire you to
                take proactive steps towards optimizing your health, mastering financial literacy, and unlocking your
                full potential for a life of abundance and prosperity.
            </li>
        </ul>

        <p>Don't miss out on this exceptional opportunity to invest in yourself and gain the knowledge and skills needed to thrive in both your health and financial well-being. Reserve your spot today!</p>
    </div>
</section>

<!-- Frequently Asked Question -->
<section id="questions" class="section bg-dark text-light p-5">
    <div class="container">
        <h2 class="text-center mb-4">Frequently asked Questions</h2>

        <div class="accordion accordion-flush" id="questions">
            <!-- Accordion Item 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-one">
                    When and where will the workshop take place?
                </button>
              </h2>
              <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">The workshop will be held on [Date] at [Location], or it will be conducted virtually via [Online
                    Platform]. Please refer to the registration details for specific timing and location information.</div>
              </div>
            </div>
            <!-- Accordion Item 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two">
                    Who should attend the workshop?
                </button>
              </h2>
              <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">The workshop is suitable for individuals interested in enhancing their financial literacy, learning about wealth-building strategies, and improving their immune system's resilience. Whether you're a beginner or an experienced individual seeking to deepen your knowledge, this workshop is designed for you.</div>
              </div>
            </div>
            <!-- Accordion Item 3 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three">
                    What topics will be covered during the workshop?
                </button>
              </h2>
              <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
                <div class="accordion-body">Topics covered will include understanding Transfer Factors and their impact on the immune system, mastering financial literacy principles, and exploring wealth-building strategies through cash value life insurance.</div>
              </div>
            </div>

            <!-- Accordion Item 4 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-four">
                    Is there a registration fee for the workshop?
                  </button>
                </h2>
                <div id="question-four" class="accordion-collapse collapse" data-bs-parent="#questions">
                  <div class="accordion-body">Yes, there may be a registration fee associated with attending the workshop. Please refer to the registration details for information on pricing and any available discounts or promotions.</div>
                </div>
              </div>
              

          </div>

    </div>
</section>


<!-- footer.p-5.bg-dark.text-white -->
<footer class="p-5 bg-primary text-white text-center position-relative">
    <div class="container">
        <p class="lead">Copyright &copy; 2024 Geigersoft</p>
        <a href="#" class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1 bg-dark"></i>
        </a>
    </div>
</footer>


<!-- Modals -->

<!-- Health Lean More Modal -->
<div class="modal fade text-dark" id="learnHealthModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-health-learn-more></app-health-learn-more>
        </div>
    </div>
</div>

<!-- Health Lean More Modal -->
<div class="modal fade text-dark" id="learnWealthModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-wealth-learn-more></app-wealth-learn-more>
        </div>
    </div>
</div>

<!-- Registration Modal -->
<div class="modal fade text-dark" id="registrationModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-registration></app-registration>

        </div>
    </div>
</div>

<!-- event detail modal-->
<div class="modal fade text-dark" id="eventDetailModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-event-detail></app-event-detail>

        </div>
    </div>
</div>

<!-- instructor detail modal-->
<div class="modal fade text-dark" id="instructorDetailModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <app-event-detail></app-event-detail> -->
            <app-instructor-detail></app-instructor-detail>

        </div>
    </div>
</div>



<!-- showcase old -->
<section class="bg-success text-light p-5 text-center text-sm-start d-none">
    <div class="container">
        <div class="d-sm-flex justify-content-around">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-fluid w-70 p-2" src="assets/health.svg" alt="">
                <div class="card-body">
                    <h2 class="card-title">Health</h2>
                    <p class="card-text">Understanding Transfer Factors and the Human Immune System</p>
                    <a href="#" class="btn btn-warning">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-fluid w-70 p-2" src="assets/money2.svg" alt="">
                <div class="card-body">
                    <h2 class="card-title">Wealth</h2>
                    <p class="card-text">Building Financial Literacy and Prosperity through Cash Value Life Insurance
                    </p>
                    <a href="#" class="btn btn-warning">Go somewhere</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- showcase old -->
<section class="bg-dark text-light p-5 text-center d-none">
    <div class="container">
        <div class="d-sm-flex">
            <div class="health d-sm-flex">
                <div>
                    <h1>Health</h1>
                    <p class="leadx">Understanding Transfer Factors and the Human Immune System</p>
                </div>
                <img class="img-fluid w-25" src="assets/health.svg" alt="">
            </div>
            <div class="wealth d-sm-flex">
                <div>
                    <h1>Wealth</h1>
                    <p class="leadx">Building Financial Literacy and Prosperity through Cash Value Life Insurance</p>
                </div>
                <img class="img-fluid w-25" src="assets/money.svg" alt="">
            </div>
        </div>
    </div>
</section>


<!-- Registration -->
<section id="registration" class="p-5 d-none">
    <div class="container">
        <h2 class="text-center">Registration</h2>
        <p class="lead text-center">Secure your spot for the Health & Wealth Workshop today!</p>

        <div class="row">
            <div class="col-md-6">
                <div class="card bg-light text-dark">
                    <div class="card-body w-70">
                        <h3>Wealth Workshop</h3>
                        <p>Embark on a journey to financial prosperity and literacy with our Cash Value Life Insurance workshop. Explore the unique benefits and strategies of Cash Value Life Insurance that can help you build wealth and secure your financial future. Our knowledgeable speakers will guide you through the intricacies of wealth accumulation and provide practical tips for achieving financial success.</p>

                        <!-- <p>Discover the power of Cash Value Life Insurance in building financial literacy and prosperity.</p> -->

                        <p>Registration Fee: $50 (Free with discount code)</p>
                        <!-- <button class="btn btn-primary">Register Now</button> -->

                        <button type="button" (click)="setEventType('Wealth')" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrationModal">
                            Register Now!!
                        </button>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card bg-light text-dark">
                    <div class="card-body w-70">
                        <h3>Health Workshop</h3>
                        <p>Unlock the secrets of the human immune system and delve into the fascinating world of Transfer Factors. Gain valuable insights into how Transfer Factors can enhance your immune response and contribute to overall health and well-being. Join us for an engaging discussion led by experts in the field to learn how to optimize your immune system for peak performance.</p>
                        <!-- <p>Discover the power of Cash Value Life Insurance in building financial literacy and prosperity.</p> -->

                        <p>Registration Fee: $50 (Free with discount code)</p>
                        <!-- <button class="btn btn-primary">Register Now</button> -->

                        <button type="button" (click)="setEventType('Health')" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrationModal">
                            Register Now!!
                        </button>
                        
                    </div>
                </div>
            </div>

        </div>

        <!-- regristration -->
    </div>
</section>


<!-- Life Quiz -->
<section id="life-quiz" class="bg-dark text-light p-5 d-none">
    <div class="container">
        <h2 class="text-center">Life Quiz</h2>


        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">If you were to die a natural death, how old would you be?</div>
                    What aspirations do you have for your lifespan, and what steps are you taking to achieve them?
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">In your world, which is more important on a scale of 1 to 10: Extreme health or extreme wealth?</div>
                    Reflect on the significance of both health and wealth in your life and how they contribute to your overall well-being.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">If you could take action today to prevent catastrophic consequences in the future, would you do it?</div>
                    Consider the importance of proactive measures in safeguarding your future and the implications of delaying action.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Who are the two people responsible for where you are today? (Mentors)</div>
                    Reflect on the individuals who have influenced and guided you on your journey, shaping your present circumstances.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">When you wake up in the morning, do you feel energized and ready to take on the day, or do you feel like snoozing longer?</div>
                    Explore your morning routine and assess how it impacts your energy levels and productivity throughout the day.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Who is the primary influencer in your current world?</div>
                    Identify the individual or source that significantly impacts your decisions, actions, and mindset.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">What specific aspects of your health and wealth would you prioritize addressing first?</div>
                    Delve into the areas of your health and finances that require immediate attention and outline actionable steps to address them.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">If you could make one change today to improve your overall well-being, what would it be?</div>
                    Reflect on areas of improvement in your life and identify a concrete action you can take to initiate positive change.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">How do you define success in your life?</div>
                    Consider what success means to you personally and how it aligns with your health, wealth, and overall fulfillment.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">If you had unlimited resources, what would you prioritize investing in: your health or your wealth?</div>
                    Contemplate your investment priorities and the long-term impact they would have on your life and those around you.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">What does financial freedom mean to you, and how do you plan to achieve it?</div>
                    Explore your definition of financial freedom and outline the steps you intend to take to attain it.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">How do you prioritize self-care in your daily life, and what practices do you implement to maintain your well-being?</div>
                    Reflect on the importance of self-care and identify the rituals or habits that contribute to your physical, mental, and emotional health.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">What role does gratitude play in your life, and how do you express appreciation for the blessings you have?</div>
                    Consider the impact of gratitude on your overall happiness and fulfillment, and discuss ways you incorporate gratitude into your daily routine.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">If you could choose one health goal to achieve in the next year, what would it be, and what steps would you take to reach it?</div>
                    Set a specific health goal and outline a plan of action to achieve it, focusing on measurable objectives and realistic timelines.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">How do you approach financial decision-making, and what factors influence your financial choices?</div>
                    Evaluate your financial decision-making process and identify the values, priorities, and external factors that shape your financial behavior.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">What motivates you to pursue your health and wealth goals, and how do you stay committed to achieving them despite challenges?</div>
                    Explore your sources of motivation and discuss strategies for maintaining resilience and determination in the face of obstacles.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">What role does education play in your journey to improve your health and wealth, and how do you continue to learn and grow in these areas?</div>
                    Reflect on the importance of ongoing education and personal development in enhancing your health and financial literacy.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">How do you define success in terms of your health, and what milestones do you hope to achieve on your wellness journey?</div>
                    Define what success looks like for you in terms of health and outline specific milestones you aim to reach in pursuit of optimal well-being.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">What financial habits do you practice regularly, and how do they contribute to your long-term financial stability and growth?</div>
                    Discuss your financial habits, such as budgeting, saving, and investing, and assess their effectiveness in helping you achieve your financial goals.
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">If you could give one piece of advice to your future self about prioritizing health and wealth, what would it be?</div>
                    Imagine advising your future self and share a valuable insight or lesson learned about the importance of prioritizing health and wealth in life.
                </div>
            </li>
        </ol>
        

    </div>
</section>
